<p id="notice"><%= notice %></p>


<div class="'gallery"></div>
<h1>판매 목록</h1>
    <% @products.each do |product| %>
      <div class='col-lg-3 col-md-3 col-xs-4  picture'>
        <div class='image'><%= link_to(image_tag(product.picture_url(:thumb)), [product.category, product]) if product.picture? %></div>
        <div class='title'><%= product.name %></div>
        <div class='content'><%= product.description %></div>
      </div>
    <% end %>
</div>
<br>

<%= link_to 'New Product', new_category_product_path, class: 'btn btn-default' %>

